.jumbotron {
    margin-top: 50px;
    color: black;
    background-color: #52ce2c;
}

footer {
    background-color: #52ce2c;
    color: #e2e2e2;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px 10px 0px 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}